<h1>Create a Song</h1>	

<form action='/songs' method='POST'>	
  <label> title: </label>	
  <input type='text' name="name" placeholder='Playa'>	

  <label> artist: </label>	
  <input type='text' name="artist" placeholder='Playa'>	

  <label> genre: </label>	
  <input type='text' name="genre" placeholder='Playa'>	

  <label> release Date: </label>	
  <input type='date' name="release_date" placeholder='Playa'>	

  <input type='submit' value='Create This Song!' />	
</form> 